.chamada{
    background-color: pink;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;

}
body{
    background: black;
    margin: 0px;
}

header{
    font-size: 35px;
    color:deeppink;
    border-bottom: 3px solid pink;
    padding: 20px

}
h1{
    font-size: 40px;
}
.chamada-texto
margin-right: 5%;
.categoria{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos{
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos img{
    height: 200px;
    opacity:0,5;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid pink ;
}